.ColorBox {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 25%;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: -3.5px;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.go-back.ColorBox {
  background-color: black;
}

.ColorBox:hover .copy-btn {
  transition: 0.5s;
  opacity: 1;
}

.box-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #000;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.copy-btn,
.back-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.copy-btn {
  opacity: 0;
}

.more {
  width: 60px;
  height: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.75rem;
  line-height: 30px;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.copy-overlay.show {
  position: absolute;
  opacity: 1;
  transform: scale(50);
  z-index: 10;
}

.copy-overlay-msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  font-size: 2rem;
  transform: scale(0.0001);
}

.copy-overlay-msg.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
  z-index: 25;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.2s;
}
