.Navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 6vh;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 0 15px;
  margin-right: 15px;
  font-size: 1.3rem;
  letter-spacing: 3px;
}

.slider {
  width: 350px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle:focus {
  outline: none;
  background-color: #000;
  border-color: #000;
  box-shadow: none;
  width: 13px;
  height: 13px;
  margin-top: -3px;
}
